@charset "utf-8";

@import url("outlets.css");

@media screen and (max-width: 1400px) {
  .column {
    width: 45%;
  }
}

@media screen and (max-width: 1000px) {
  .column {
    width: 90%;
  }

  #map > img {
    width: 90%;
  }
}
