html {
  background: #abbaab;
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
  background: linear-gradient(to right, #ffffff, #abbaab);
}

h1 {
  font-size: 33px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  background-color: transparent;
  padding: 42px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  text-align: center;
  font-size: 33px;
  font-family: "Bree Serif", serif;
  padding: 42px;
  margin-top: 0px;
  margin-bottom: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
select {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: rgb(112, 214, 138);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #362c2c;
  z-index: -1;
}

.progress {
  background-color: rgb(38, 218, 53);
  width: 0%;
  transition: 0.3s;
}

.progressstep {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressstep::before {
  counter-increment: step;
  content: counter(step);
}

.progressstep::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progressstep1 {
  background-color: rgb(112, 214, 138);
  color: #f3f3f3;
}

.form {
  width: clamp(320px, 30%, 430px);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
  background-color: rgba(255, 253, 253, 0.87);
  margin-bottom: 100px;
}

.formstep {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.formstep1 {
  display: block;
}

.inputgroup {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.buttongroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.button {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: rgb(112, 214, 138);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px rgb(112, 214, 138);
}
.complete {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: rgb(112, 214, 138);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s;
}

.cancle {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: rgb(149, 211, 163);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 70rem;
  font-size: 15px;
  border-color: white;
}

.cancle:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px rgb(69, 105, 80);
}

.complete:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(41, 179, 41);
}
